<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="http_proxy" value="http://naproxyp.nam1.lbi.gm.com:8080" />
    <add key="https_proxy" value="http://naproxyp.nam1.lbi.gm.com:8080" />
  </config>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
</configuration>